<div class="sm-xs width">
    <section>
    <div class="container mt-5 "  id="maindiv" style="display: block;" >
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
            <div class="signup-content col-xl-9 col-lg-9 col-md-10 col-sm-11 col-11">
    <form [formGroup]="ChangePasswordForm">

        <div class="card text-center"  style="border: solid 2px;border-color: #6f6186;">
        <div class="card-header text-light size" style="background-color: #2a2236; border-bottom: solid 2px; border-color: #2a2236;">Change Password</div>
        <div *ngIf="error" class="text-danger mt-2" style="font-size: 20px;" >{{error}}</div>
        <div *ngIf="message" class="text-success mt-2" style="font-size: 20px;">{{message}}</div>
        <div class="form-group row ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3 textbox">
            <div class="col-4">
                <div class="row">
                    <label class="formlabel mt-2" for="CurrentPassword">Current Password </label>
                    <label class="formlabel mt-2" style="color: red;">*</label>
                </div>              
            </div>
            <div class="col-8">
                <input type="password"
                class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                placeholder="Current Password"
                formControlName="CurrentPassword"
                required
                #currentpassword/>
                <div
                *ngIf="
                ChangePasswordForm.controls['CurrentPassword'].invalid &&
                (ChangePasswordForm.controls['CurrentPassword'].dirty ||
                ChangePasswordForm.controls['CurrentPassword'].touched)"
                >
                    <div *ngIf="ChangePasswordForm.controls['CurrentPassword'].errors.required" class="text-danger">
                        Current Password is required.
                    </div>
                    <div *ngIf="ChangePasswordForm.controls['CurrentPassword'].errors.minlength" class="text-danger">
                        Current Password must contain 8 characters.
                    </div>
                </div>
            </div>
        </div>
        <!--New Password-->
        <div class="form-group row ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3 textbox" >
            <div class="col-4">
                <div class="row ">
                    <label class="formlabel mt-2" for="Password">New Password </label>
                    <label class="formlabel mt-2" style="color: red;">*</label>
                </div>
            </div>
            <div class="col-8">
                <input type="password"
                class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                placeholder="New Password"
                formControlName="NewPassword"
                required
                #newpassword/>
                <div
                *ngIf="
                ChangePasswordForm.controls['NewPassword'].invalid &&
                (ChangePasswordForm.controls['NewPassword'].dirty ||
                ChangePasswordForm.controls['NewPassword'].touched)"
                >
                    <div *ngIf="ChangePasswordForm.controls['NewPassword'].errors.required" class="text-danger">
                        New Password is required.
                    </div>
                    <div *ngIf="ChangePasswordForm.controls['NewPassword'].errors.minlength" class="text-danger">
                        New Password must contain 8 characters.
                    </div>
                </div>
            </div>  
        </div>

        <!--Confirm Password-->
        <div class=" form-group row ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3 textbox" >
            <div class="col-4">
                <div class="row">
                    <label class="formlabel mt-2" for="Cpassword">Confirm Password </label>
                    <label class="formlabel mt-2" style="color: red;">*</label>
                </div>
            </div>

            <div class="col-8">
                <input type="password"
                class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                placeholder="Confirm Password"
                formControlName="CnfrmPassword"
                required
                #cnfrmpassword/>
                <div
                *ngIf="
                ChangePasswordForm.controls['CnfrmPassword'].invalid &&
                (ChangePasswordForm.controls['CnfrmPassword'].dirty ||
                ChangePasswordForm.controls['CnfrmPassword'].touched)"
                >
                    <div *ngIf="ChangePasswordForm.controls['CnfrmPassword'].errors.required" class="text-danger">
                        Confirm Password is required.
                    </div>
                    <div *ngIf="ChangePasswordForm.controls['CnfrmPassword'].errors.confirmedValidator" class="text-danger">
                        New Password and Confirm Password must be matched
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mt-5">   
        <!-- (click)='ChangePassword(currentpassword.value,newpassword.value,cnfrmpassword.value)'                  -->
        <button 
        [disabled]="ChangePasswordForm.pristine || ChangePasswordForm.invalid"
        (click)='ChangePassword(currentpassword.value,newpassword.value)'
        name="submit" id="submit" class="btn my-2 my-sm-0 rounded">Update</button>
        <button class="btn btnCancel" [routerLink]="['../']"> Cancel </button>
    </div>
    </form>
        </div>
        </div>
    </div>
    </section>
</div>
