
<mat-tab-group 
animationDuration="0ms" 
mat-align-tabs="center" 
(selectedTabChange)="onTabClick($event)"
[selectedIndex] = "index"
class="mt-xl-4 mt-lg-4 mt-md-3 sm-xs"
>
<mat-tab [disabled]="isActive" label="Faculty">
<div>
    <section>
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container mt-5 "  id="maindiv" style="display: block;" >
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
            <div class="signup-content col-xl-9 col-lg-9 col-md-10 col-sm-11 col-11">
                <form [formGroup]="signupForm"  id="signup-form" class="signup-form">
                    <!-- <h2 class="form-title" style="font-size: 50px;">Create Account</h2> -->
                  
                        <div class="card text-center"  style="border: solid 2px;border-color: #6f6186;">
                            <div class="card-header text-light size" style="background-color: #2a2236; border-bottom: solid 2px; border-color: #2a2236;">Create Account</div>

                            <!--Name Input-->

                            <div class=" form-group row form textbox ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3" >
                                <div class="col-3">
                                    <div class="row ">
                                        <label class=" mt-2" for="Name">Name </label>
                                        <label class=" mt-2" style="color: red;">*</label>
                                    </div>
                                </div>
                                
                                <div class="col-8">
                                    <input type="text"
                                    class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                                    placeholder="Full Name here"
                                    formControlName="Name"
                                    required
                                    #name/>
                            
                                    <div
                                    *ngIf="
                                    signupForm.controls['Name'].invalid &&
                                    (signupForm.controls['Name'].dirty ||
                                    signupForm.controls['Name'].touched)"
                                    >
                                        <div *ngIf="signupForm.controls['Name'].errors.required"
                                        class="text-danger">Name is required.
                                        </div>
                                        <div *ngIf="signupForm.controls['Name'].errors.minlength"
                                        class="text-danger">Name must be of 4 length.
                                        </div>
                                        <div *ngIf="signupForm.controls['Name'].errors.pattern" 
                                        class="text-danger">Name must only contain small and capital alphabets.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                            <!--Email Input-->

                            <div class=" form-group row form textbox ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3" >
                                <div class="col-3">
                                    <div class="row ">
                                        <label class=" mt-2" for="Password">Email </label>
                                        <label class=" mt-2" style="color: red;">*</label>
                                    </div>
                                </div>

                                <div class="col-8">
                                    <input  type="email"
                                    class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                                    placeholder="@students.au.edu.pk"
                                    formControlName="Email"
                                    required
                                    #email/>
                           
                                    <div
                                    *ngIf="
                                    signupForm.controls['Email'].invalid &&
                                    (signupForm.controls['Email'].dirty ||
                                    signupForm.controls['Email'].touched)"            
                                    >
                                        <div *ngIf="signupForm.controls['Email'].errors.required" 
                                        class="text-danger">Email is required.
                                        </div>  
                                        <div *ngIf="signupForm.controls['Email'].errors.pattern" 
                                        class="text-danger">Email must be on the students.au.edu.pk domain
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Username Input-->

                            <div class=" form-group row form textbox ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3" >
                                <div class="col-3">
                                    <div class="row ">
                                        <label class=" mt-2" for="Password">Username </label>
                                        <label class=" mt-2" style="color: red;">*</label>
                                    </div>
                                </div>

                                <div class="col-8">
                                    <input  type="text"
                                    class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                                    placeholder="@students.au.edu.pk"
                                    formControlName="Username"
                                    required
                                    name = "username"
                                    #username/>
                                    <div
                                    *ngIf="
                                    signupForm.controls['Username'].invalid &&
                                    (signupForm.controls['Username'].dirty ||
                                    signupForm.controls['Username'].touched)"            
                                    >
                                        <div *ngIf="signupForm.controls['Username'].errors.required" 
                                        class="text-danger">Username is required.
                                        </div>
                                        <div *ngIf="signupForm.controls['Username'].errors.confirmedValidator" 
                                        class="text-danger">Email and Username must be match.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Password-->
                            <!-- <div class=" form-group row form textbox ml-4 pt-3" >
                                <div class="col-3">
                                    <div class="row ">
                                        <label class=" mt-2" for="Password">Password </label>
                                        <label class=" mt-2" style="color: red;">*</label>
                                    </div>
                                </div>

                                <div class="col-8">
                                    <input type="password"
                                    class="form-input form-control form-rounded pr-2 pl-3  text-size"
                                    id="Password"
                                    placeholder="********"
                                    formControlName="Password"
                                    required
                                    #password/>
                                    <div
                                    *ngIf="
                                    signupForm.controls['Password'].invalid &&
                                    (signupForm.controls['Password'].dirty ||
                                    signupForm.controls['Password'].touched)"
                                    >
                                        <div *ngIf="signupForm.controls['Password'].errors.required" class="text-danger">
                                            Password is required.
                                        </div>
                                        <div *ngIf="signupForm.controls['Password'].errors.minlength" class="text-danger">
                                            Password must contain 8 characters.
                                        </div>
                                    </div>
                                </div>  
                            </div> -->

                            <!--Confirm Password-->
                            <!-- <div class=" form-group row form textbox ml-4 pt-3" >
                                <div class="col-3">
                                    <div class="row ">
                                        <label class=" mt-2" for="Cpassword">Confirm Password </label>
                                        <label class=" mt-2" style="color: red;">*</label>
                                    </div>
                                </div>

                                <div class="col-8">
                                    <input type="password"
                                    class="form-input form-control form-rounded pr-2 pl-3 text-size"
                                    id="Cpassword"
                                    placeholder="********"
                                    formControlName="CPassword"
                                    required
                                    #cpassword/>
                                    <div
                                    *ngIf="
                                    signupForm.controls['CPassword'].invalid &&
                                    (signupForm.controls['CPassword'].dirty ||
                                    signupForm.controls['CPassword'].touched)"
                                    >
                                        <div *ngIf="signupForm.controls['CPassword'].errors.required" class="text-danger">
                                            Confirm Password is required.
                                        </div>
                                        <div *ngIf="signupForm.controls['CPassword'].errors.confirmedValidator" class="text-danger">
                                            Password and Confirm Password must be matched
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="form-group mt-5">                    
                            <button [disabled]="signupForm.pristine || signupForm.invalid"
                            (click)='Verify(name.value,email.value,username.value)'
                              name="submit" id="submit" class="btn my-2 my-sm-0 rounded">Register</button>
                        </div>  
                        <!--  -->
                </form>   
            </div>
        </div>
        </div>
    </section>
</div>
</mat-tab>
<mat-tab label="Admin">
<div  class="main" >
    <section class="signup">
        <div class="container mt-5 "  id="maindiv" style="display: block;" >
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <div class="row">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
            <div class="signup-content col-xl-9 col-lg-9 col-md-10 col-sm-11 col-11">
                <form [formGroup]="AdminSignupForm"  id="Adminsignup-form" class="signup-form">
                        <div class="card text-center"  style="border: solid 2px;border-color: #6f6186;">
                            <div class="card-header text-light size" style="background-color: #2a2236; border-bottom: solid 2px; border-color: #2a2236;                      
                            ">Create Account</div>

                            <!--Name Input-->

                            <div class=" form-group row form textbox ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3" >
                                <div class="col-3">
                                    <div class="row ">
                                        <label class=" mt-2" for="Name">Name </label>
                                        <label class=" mt-2" style="color: red;">*</label>
                                    </div>
                                </div>
                                
                                <div class="col-8">
                                    <input type="text"
                                    class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                                    placeholder="Full Name here"
                                    formControlName="AdminName"
                                    required
                                    #Adminname
                                    [readonly] = "ReadOnly"
                                    [(ngModel)]="user.Name"/>
                            
                                    <div
                                    *ngIf="
                                    AdminSignupForm.controls['AdminName'].invalid &&
                                    (AdminSignupForm.controls['AdminName'].dirty ||
                                    AdminSignupForm.controls['AdminName'].touched)"
                                    >
                                        <div *ngIf="AdminSignupForm.controls['AdminName'].errors.required"
                                        class="text-danger">Name is required.
                                        </div>
                                        <div *ngIf="AdminSignupForm.controls['AdminName'].errors.minlength"
                                        class="text-danger">Name must be of 4 length.
                                        </div>
                                        <div *ngIf="AdminSignupForm.controls['AdminName'].errors.pattern" 
                                        class="text-danger">Name must only contain small and capital alphabets.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                            <!--Email Input-->

                            <div class=" form-group row form textbox ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3" >
                                <div class="col-3">
                                    <div class="row ">
                                        <label class=" mt-2" for="Password">Email </label>
                                        <label class=" mt-2" style="color: red;">*</label>
                                    </div>
                                </div>

                                <div class="col-8">
                                    <input type="email"
                                    class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                                    placeholder="@students.au.edu.pk"
                                    formControlName="AdminEmail"
                                    required
                                    #Adminemail
                                    [readonly] = "ReadOnly"
                                    [(ngModel)]="user.Email"/>
                           
                                    <div
                                    *ngIf="
                                    AdminSignupForm.controls['AdminEmail'].invalid &&
                                    (AdminSignupForm.controls['AdminEmail'].dirty ||
                                    AdminSignupForm.controls['AdminEmail'].touched)"            
                                    >
                                        <div *ngIf="AdminSignupForm.controls['AdminEmail'].errors.required" 
                                        class="text-danger">Email is required.
                                        </div>  
                                        <div *ngIf="AdminSignupForm.controls['AdminEmail'].errors.pattern" 
                                        class="text-danger">Email must be on the students.au.edu.pk domain
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Username Input-->

                            <div class=" form-group row form textbox ml-lg-4 ml-xl-4 ml-md-4 ml-sm-2 ml-2 pt-3" >
                                <div class="col-3">
                                    <div class="row ">
                                        <label class=" mt-2" for="Password">Username </label>
                                        <label class=" mt-2" style="color: red;">*</label>
                                    </div>
                                </div>

                                <div class="col-8">
                                    <input type="text"
                                    class="form-input form-control form-rounded pr-2 pl-xl-3 pl-lg-3 pl-md-3 pl-sm-2 pl-2"
                                    placeholder="e.g, user_name123"
                                    formControlName="AdminUsername"
                                    required
                                    name = "Adminusername"
                                    #Adminusername/>
                                    <div
                                    *ngIf="
                                    AdminSignupForm.controls['AdminUsername'].invalid &&
                                    (AdminSignupForm.controls['AdminUsername'].dirty ||
                                    AdminSignupForm.controls['AdminUsername'].touched)"            
                                    >
                                        <div *ngIf="AdminSignupForm.controls['AdminUsername'].errors.required" 
                                        class="text-danger">Username is required.
                                        </div>
                                        <div *ngIf="AdminSignupForm.controls['AdminUsername'].errors.pattern" 
                                        class="text-danger"> Invalid username
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-5">  
                            <button [disabled]="AdminSignupForm.pristine || AdminSignupForm.invalid"
                            (click)='Verify(user.Name,user.Email,Adminusername.value)'
                            name="submit" id="submit" class="btn my-2 my-sm-0 rounded">Register</button>
                        </div>  
                        <!--  -->
                </form>   
            </div>
            <div class="col-2"></div>
        </div>
        </div>
    </section>
</div>
</mat-tab>
</mat-tab-group>