<div style="display: block" >
    <div class="row mt-lg-5 mt-xl-5 mt-md-5 small-margin extra-small-margin  ml-3">
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1 col-1"></div>
        <div class="col-lg-7 col-xs-12 col-sm-12 col-xl-7 col-md-6">
            <h1 class="font-weight-bold text-center">Missing Files Percentage</h1>
            <canvas baseChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            >
        </canvas>
        </div>
    </div>
</div>
<!-- <div>
    <div *ngFor="let course of coursess; let i = index" >
        {{course.CourseName}}
        <div>
        Quizes  Assignments   Lectures    Mids     Finals
        </div>
        <div *ngFor="let class of course.Classes">
            {{class}}
        </div>
    </div>
</div> -->
<div class="row mt-lg-5 mt-xl-5 mt-md-5 small-margin extra-small-margin  ml-3">
    <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1 col-1"></div>
    <div class="col-lg-10 col-xs-12 col-sm-12 col-xl-10 col-md-6">
        <table class="table ">
            <tr>
                <td rowspan="2"></td>
                <div *ngFor="let course of coursess; let i = index" style="margin-top: 10px; margin-bottom: 20px;">
                <th colspan="6" scope="colgroup" style="font-size: 18px;">{{course.CourseName}}</th>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Quizes</th>
                    <th scope="col">Assignments</th>
                    <th scope="col">Lectures</th>
                    <th scope="col">Mids</th>
                    <th scope="col">Finals</th>
                </tr>    
                <tr *ngFor="let class of course.Classes">
                    <th  scope="col">{{class}}</th>
                    <ng-container *ngFor="let obj of this.fileProgess">
                        <td *ngIf="obj.Class == class">
                            {{obj.Files}}
                        </td>
                    </ng-container>
                </tr>
                </div>
            </tr> 
      </table>
    </div>
</div>

  <!-- <div>
      <button class="btn mt-4" (click)="cal_Percentage()">
          Progress
      </button>
  </div> -->
  